<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
{namespace ls = sirconic\SgLayerslider\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
<f:flashMessages />
    <!-- slider -->
    <f:if condition="{config.cssclass} == '' ">
        <f:then>
            <div id="{config.sliderid}" style="width:{config.width}; height:{config.height}">
        </f:then>
        <f:else>
            <div id="{config.sliderid}" class="{config.cssclass}" style="width:{config.width}; height:{config.height}">
        </f:else>
    </f:if>
    <f:for each="{slider.layers}" as="layer">
        <!-- {layer.uid} {layer.title} -->
        <!-- layer-loop -->
        <div class="ls-slide"
             <f:if condition="{layer.datastring} == '' ">
                <f:then>
                    >
                </f:then>
                <f:else>
                    data-ls="{layer.datastring}">
                </f:else>
             </f:if>

            <f:if condition="{layer.bgimage} == '' " >
                <f:then>
                </f:then>
                <f:else>
                    <img src="uploads/tx_sglayerslider/{layer.bgimage}" class="ls-bg" alt="{layer.title} Background">
                </f:else>
            </f:if>
            <f:if condition="{layer.thumbnail} == '' ">
                <f:then>
                </f:then>
                <f:else>
                    <img src="uploads/tx_sglayerslider/{layer.thumbnail}" class="ls-tn" alt="{layer.title} Thumbnail">
                </f:else>
            </f:if>
            <f:if condition="{layer.extlink} == ''" >
                <f:then>
                </f:then>
                <f:else>
                    <a href="{layer.extlink}" class="ls-link"></a>
                </f:else>
            </f:if>
            <div><!-- element-loop -->
                <f:for each="{layer.elements}" as="element">
                    <!-- {element.uid} {element.title} -->
                    <f:if condition="{element.image} != '' ">
                        <f:then>
                            <f:if condition="{element.extlink} == '' ">
                                <f:then>
                                    <f:if condition="{element.layerlink} == 0 ">
                                        <f:then>
                                             <img src="uploads/tx_sglayerslider/{element.image}" {element.sizestring} class="ls-l" data-ls="{element.datastring}" {element.imgstyle} alt="{element.imgalt}">
                                        </f:then>
                                        <f:else>
                                            <img src="uploads/tx_sglayerslider/{element.image}"  {element.sizestring} class="ls-l ls-linkto-{element.layerlink}" data-ls="{element.datastring}"{element.imgstyle} alt="{element.imgalt}">
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <a href="{element.extlink}" class="ls-l" data-ls="{element.datastring}" style="{element.stylestring}">
                                        <img src="uploads/tx_sglayerslider/{element.image}" {element.sizestring} {element.imgstyle} alt="{element.imgalt}">
                                    </a>
                                </f:else>
                            </f:if>
                        </f:then>
                        <f:else>
                            <{element.texttag} class="ls-l" data-ls="{element.datastring}" style="{element.textcolor}" ><f:format.raw>{element.elementtext}</f:format.raw></{element.texttag}>
                        </f:else>
                    </f:if>
                    <f:if condition="{element.medientyp} == 1">
                        <f:then>
                            <iframe width="560" height="315" src="{element.medialink}" frameborder="0" allowfullscreen></iframe>
                        </f:then>
                    </f:if>
                    <f:if condition="{element.medientyp} == 2">
                        <f:then>
                            <video src="{element.medialink}" controls></video>
                        </f:then>
                    </f:if>
                    <f:if condition="{element.medientyp} == 3">
                        <f:then>
                            <audio src="{element.medialink}"></audio>
                        </f:then>
                    </f:if>
                </f:for>
            </div><!-- element-loop -->
        </div><!-- layer-loop -->
    </f:for>
     <![CDATA[
    <script type="text/javascript">

        $(document).ready(function(){
            $('#]]>{config.sliderid}<![CDATA[').layerSlider({ ]]>
            autoStart: {config.autostart},
            pauseOnHover: {config.pauseOnHover},
            firstSlide: '{config.firstSlide}',
            animateFirstSlide: {config.animateFirstSlide},
            loops: {config.loops},
            forceLoopNum: {config.forceLoopNum},
            twoWaySlideshow: {config.twoWaySlideshow},
            randomSlideshow: {config.randomSlideshow},
            responsive: {config.responsive},
            responsiveUnder: {config.responsiveUnder},
            layersContainer: {config.layersContainer},
            globalBGColor: {config.globalBGColor},
            globalBGImage: {config.globalBGImage},
            skin: '{config.skin}',
            skinsPath: '{config.skinsPath}',
            navPrevNext: {config.navPrevNext},
            navStartStop: {config.navStartStop},
            navButtons: {config.navButtons},
            hoverPrevNext: {config.hoverPrevNext},
            hoverBottomNav: {config.hoverBottomNav},
            keybNav: {config.keybNav},
            touchNav: {config.touchNav},
            showBarTimer: {config.showBarTimer},
            showCircleTimer: {config.showCircleTimer},
            thumbnailNavigation: '{config.thumbnailNavigation}',
            tnContainerWidth: '{config.tnContainerWidth}',
            tnWidth: {config.tnWidth},
            tnHeight: {config.tnHeight},
            tnActiveOpacity: {config.tnActiveOpacity},
            tnInactiveOpacity: {config.tnInactiveOpacity},
            autoPlayVideos: {config.autoPlayVideos},
            autoPauseSlideshow: {config.autoPauseSlideshow},
            youtubePreview: '{config.youtubePreview}',
            imgPreload: {config.imgPreload},
            lazyLoad: {config.lazyLoad},
            yourLogo: {config.yourLogo},
            yourLogoStyle: '{config.yourLogoStyle}',
            yourLogoLink: {config.yourLogoLink},
            yourLogoTarget: '{config.yourLogoTarget}',
     <![CDATA[
            });
        });
    </script>]]>
</div><!-- slider -->
</f:section>
</html>